<h1>Edit your profile</h1>
<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited <%= @user.name %> from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_with(model: @user, local: true) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :email %>
  <%= f.email_field :email %>
  <%= f.label :Image %>
  <%= f.file_field :avater %>
  <%= image_tag @user.avatar.url if @user.avatar && @user.avatar.url %><br>
  <%= f.hidden_field :avatar_cache %>
  <%= f.submit 'Update My Account' %>
<% end %>
