<h1>Sign Up!</h1>
<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited <%= @user.name %> from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<article>
  <%= form_with(model: @user, local: true) do |f| %>
    <p><%= f.label :name %></p>
    <p><%= f.text_field :name %></p>
    <p><%= f.label :email %></p>
    <p><%= f.email_field :email %></p>
    <p><%= f.label :Image %></p>
    <p id = "image_column" ><%= f.file_field :avatar %></p>
    <p><%= image_tag @user.avatar.url if @user.avatar && @user.avatar.url %></p>
    <p><%= f.hidden_field :avatar_cache %></p>
    <p><%= f.label :password %></p>
    <p><%= f.password_field :password %></p>
    <p><%= f.label :password_confirmation%></p>
    <p><%= f.password_field :password_confirmation %></p>
    <p><%= f.submit 'Create My Account', class: "btn btn-warning" %></p>
  <% end %>
</article>
