<h1>HOME</h1>
<%= link_to 'Create New Post', new_post_path, class: "btn btn-warning" %>
<%= link_to 'See your favorites', favorites_path %>
<table>
  <tr>
    <th>User</th>
    <th>Image</th>
    <th>Content</th>
  </tr>

<% @posts.each do |post|%>
  <tr>
    <td><%= post.user.name %></td>
    <td><%= image_tag post.image.url %></td>
    <td><%= post.content %></td>
    <td><%= link_to 'detail', post_path(post.id) %></td>
    <% if current_user == post.user %>
      <td><%= link_to 'edit', edit_post_path(post.id) %></td>
      <td><%= link_to 'delete', post_path(post.id), method: :delete, data:{ confirm:'Are you sure you would like to delete the post?'} %></td>
    <% end %>
  </tr>
<% end %>
</table>
