<h1>Detail</h1>
<p>User: <%= @post.user.name %></p>
<p>Image: <%= image_tag @post.image.url %></p>
<p>Content: <%= @post.content %></p>
<p>Posted At: <%= @post.created_at %></p>
<% unless @post.user_id == current_user.id %>
  <% if @favorite.present? %>
    <%= link_to 'Unsave from Collection', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'Save to Collection', favorites_path(post_id: @post.id), method: :post, class: 'btn btn-primary' %>
  <% end %>
<% end %>
<%= link_to 'Back to Home', posts_path, class: "btn btn-info" %>
