<h1>Detail</h1>
<p>User: <%= @post.user.name %></p>
<p>Image: <%= image_tag @post.image.url %></p>
<p>Content: <%= @post.content %></p>
<p>Posted At: <%= @post.created_at %></p>
<%= link_to 'Back to Home', posts_path, class: "btn btn-info" %>
